/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Roboto Mono', monospace;

}
::selection{

    background: black;
    color:white;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  line-height: 1.25;

}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a img {
  border: none;
}
button{
  width:120px;

  background-color: #EFEFEF;
}
break{
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.form-line-active input:focus, .form-line-active textarea:focus {
  border: 1px solid black !important;
  box-shadow: 0 0 3px black !important;
  -moz-box-shadow: 0 0 3px black !important;
  -webkit-box-shadow: 0 0 3px black !important;
}
input{
  font-size:1.1em;
  margin-top:8px;border:solid 2px; width:480px; resize: none;
}
textarea{
  font-size:1.1em;
  margin-top:8px;border:solid 2px; width:480px;  resize: none;
}
input:focus, textarea:focus, select:focus, button:focus {
  outline-offset: 1px !important;
  outline: solid 1px !important;
}
h1 {

  font-weight: 400;
}

h2 {

  font-weight: 400;
}

.menu-h2{
  text-align: center;
}

.align-center{
  text-align:center;
}

.no-decoration {
  text-decoration: none;
}

.center-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

/* END RESET*/

/* PARTICLE */
 canvas{ display: block; vertical-align: bottom; }
 #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #ffffff; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

/* MAIN STYLES */


#main-home {
  display: flex;
  width: 100%;
  perspective: 40px;
  height: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-div{
  margin: 8px;
  max-width:800px;
}

#perspectivized{

  display: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin:auto;
  transition: transform 0.5s;
}

/* END MAIN STYLES */

/* FLOW STYLES */
.flow-diagram{
  display: flex;
}

.flow-diagram > h1{
  flex-grow: 1;
}
.flow-diagram ul{
  list-style-type: none;
  text-align: center;
}

.flow-diagram ul > li {
  position:relative;
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}
.flow-diagram ul > li:not(first-child):not(last-child){
  padding-left: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 30px;
}

.flow-level{
  display: table-row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0 auto;

}
.flow-level ul{
  margin: 0 auto 0 auto;
  cursor:pointer;
/* */
}
.home-header{
  margin: 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.home-header a{
  text-decoration: none;
  color: black;
}

.menu-item-animate{
  position:relative;
  animation: moveToUpperLeft 2s forwards;
}
.item-disappear{
  animation: disappear 200ms ease-out 0s forwards;
}
.item-disappear-fast{
  animation: disappear 100ms linear 0s forwards;
}
.item-appear-fast-delay{
  animation: appear 100ms linear 400ms forwards;
}
@keyframes disappear {
  0% { opacity: 1; }
  /* 20% { opacity: 0; } */
  100% { opacity: 0; }
}
@keyframes appear {
  0% { opacity: 0; }
  /* 20% { opacity: 0; } */
  100% { opacity: 1; }
}

@keyframes moveToUpperLeft {

    50% {  top:0;}
    100% {left: 0; top:0;}
}
.terminal-blink::after {
  content: "_";
  animation: blink 1s linear infinite;

}
.terminal-blink::selection{
  background:black;
  color:white;
}
.terminal-blink{
  -webkit-touch-callout: text;
  -webkit-user-select: text;
   -khtml-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
@keyframes blink {
  49% {
    opacity:0.99;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}

.with-horizontal-line li:not(:first-child):not(:last-child){
   border-top: 2px solid #000;
}
.with-horizontal-line li:first-child::before{
  content: '';
      position: absolute;
      top: -2px;
      left: 49.5%;
      width: 50.5%;
      border-top: 2px solid #000;
}
.with-horizontal-line li:last-child::before{
  content: '';
      position: absolute;
      top: -2px;
      right: 49.5%;
      width: 50.5%;
      border-top: 2px solid #000;
}

.vertical-line{
  margin: 0 auto 0 auto;
  width:0px;
  height:30px;
  border-left: 2px solid #000;
}
#home-info{
  border: solid 2px;
  padding: 4px 16px;
  width: fit-content;
  font-weight: 300;
  margin: auto;
}
#main-logo{
  transition: 0.3s;
  cursor:pointer;
}
#main-menu{
  overflow:hidden;
  height:0px;
  transition: 0.3s;
  margin-left:16px;
  margin-right:16px;
  text-align:center;
}
.gravatar{
  image-rendering: pixelated;width:200px; height:200px;
}
/* END FLOW STYLES */
.contact{
  margin-bottom:8px;

}
.contact-form{
  width:480px;
}
.social-contacts a{
  text-decoration: none;
}
.contact a{
  color: #284c77;
}
.icon-contact{
  width:18px;
  height:18px;
  vertical-align: bottom;
}
.contact-field{
  width:50%;

}
/* WORKS STYLES */
.center-content{
  width: fit-content;
  margin: auto;
}

.work-container{
  width: 70vw;
    margin-bottom:80px;
}
.youtube-frame{
  height:500px;
  width: inherit;
  margin-bottom:50px;
}
.works-header{
  text-align: center;
  margin-top:10px;
  margin-bottom:60px;
}
.credits-div{
  margin-top:30px;
  line-height: 1.7;
  column-count: 5;
  column-width: 200px;
}
.works-ul{
  width: 90vw;
  margin-bottom:10px;
  height: fit-content;
  text-align:left;
}
.works-ul li{
  background-size:cover;
  display: inline-block;
  margin-left:8px;
  margin-right:8px;
  margin-bottom:32px;
  width:340px;


  list-style-type: none;
}

.works-ul img{
  margin-top:10px;
  width: 320px;
  height: 220px;
  position: relative;
  object-fit: cover;
  filter: grayscale(80%);

}



/* FOOTER STYLES */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: black;

  background-color: white;
  z-index: 5;
}

.footer-container {
  margin: 8px 8px 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.language-selector {
  color: black;
}
.footer-container a {
  color: black;
}
/* END FOOTER STYLES */
@media only screen and (max-width:600px) {
  .flow-diagram ul > li{
    margin-left: 20vw !important;
    margin-right: 20vw !important;
  }
  .with-horizontal-line li:first-child::before{
    display:none;
  }
  .with-horizontal-line li:last-child::before{
    display:none;
  }
  .with-horizontal-line li:first-child{
    border-top: 0  !important;
  }
  .with-horizontal-line li:last-child{
    border-bottom: 2px solid #000  !important;
  }
  .with-horizontal-line li{

    border-top: 2px solid #000  !important;
  }
  #home-vertical-pre-menu{
    display:none;
  }

}
#counter{
  word-break: break-all;

  width:auto;
  overflow: hidden;
  font-size:40px;
}

.home-body{
  overflow:hidden;
}
.default-body{
  padding-bottom:32px;
}
.contact-footer{
  font-size:0.7em;
}
.logo-image{
  height:80px;margin-left:8px;
}
.with-horizontal-line{
  -webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.limitless{
  width:auto;
  max-width:100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}


@media
only screen and (-webkit-min-device-pixel-ratio: 1.25) and  (pointer:none), (pointer:coarse),
only screen and ( min--moz-device-pixel-ratio: 1.25) and  (pointer:none), (pointer:coarse),
only screen and ( -o-min-device-pixel-ratio: 1.25/1) and  (pointer:none), (pointer:coarse),
only screen and ( min-device-pixel-ratio: 1.25) and  (pointer:none), (pointer:coarse),
only screen and ( min-resolution: 200dpi) and  (pointer:none), (pointer:coarse),
only screen and ( min-resolution: 1.25dppx) and  (pointer:none), (pointer:coarse)
{
  #perspectivized{
    margin-top:10vh;
  }
  .contact-field{
    width:100%;
    font-size:1em;
  }

  .contact-form{
    width:95%;
  }


  button{
    font-size:1.2em;
  }
  input{
    margin-top:8px;border:solid 2px; width:100%;font-size:1.2em; resize: none;
  }
  textarea{

    margin-top:8px;border:solid 2px; width:100%;  resize: none;font-size:1.2em;
  }
  input:focus, textarea:focus, select:focus, button:focus {
    outline-offset: 1px !important;
    outline: solid 1px !important;
  }
}




/* PARSATO IN AUTOPREFIXER: https://autoprefixer.github.io/ */
