<div class="works-grid">
  {% assign ordered_works = site.works | sort:"order_number" %}
  {% for work in ordered_works %}
    {% capture picture %}{{work.slug}}.png{% endcapture %}
    <div class="work-card">
      <div class="work-title">{% t work.name %}</div>
      
      <div class="work-image-wrapper">
        <a href="{{ work.link }}" target="_blank">
          <img src="{{ '/assets/images/works/' | prepend: site.baseurl_root | append: picture }}" alt="{% t work.name %}">
        </a>
      </div>
      
      <div class="work-desc">
        {% t work.description %}
      </div>
    </div>
  {% endfor %}
</div>
